@import "../../styles/variables.scss";

header {
  display: flex;
  position: fixed;
  top: 0;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: $header_height;
  width: 100%;
}

#logo {
  background-image: url(../../assets/images/logo.svg);
  width: 105px;
  height: 16px;
}

#user-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

#user-image {
  background-image: url(../../assets/images/c4beea3c4cccbceb8de269c8cdf11f2e.png);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

#user-dropdown {
  background-image: url(../../assets/images/Path6.svg);
  width: 8px;
  height: 4px;
  margin-top: 4px;
}