@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Soleil', sans-serif;
  margin-top: 60px;
  min-height: calc(100vh - #{$header_height});
}

a{
  text-decoration: none;
  font-size: 14px;
  color: #4C6C83;
}
