@import "../styles/variables.scss";

#main-container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - #{$header_height});
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: $sidebar-width;
  overflow: hidden;
  background-color: #F4F9FC;
}

@media (max-width: 600px) {
  main {
    margin-left: 0;
  }
}
