<nav [ngClass]="{'show': show}">
  <div id='menu-toggler' (click)="menuToggle()">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id='ad-container'>
    <img src="../../assets/images/nicebeauty.com_eu_.png" alt="ad image">
    <a href='#'>hairstylist.com</a>
  </div>
  <ul>
    <li class='sidebar-link'><a href='#'>Marketing Plan</a></li>
    <li class='sidebar-link'><a href='#'>Dashboard</a></li>
    <li class='sidebar-link'><a href='#'>My Ads</a></li>
    <li class='sidebar-link'><a href='#'>Analytics</a></li>
    <li class='sidebar-link'><a href='#'>Cobiro Store</a></li>
  </ul>
</nav>
